.groupBlocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.block {
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block:hover {
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name {
    font-weight: bold;
}

.button {
    margin-left: 1vw;
}